{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%",  "not ie <= 8", "last 20 versions", "ios > 6"]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-vue-jsx", "transform-runtime"]
}
